<h1>STOCK STATUS </h1>

<%= form_tag root_path, :method=> 'POST' do%>
<%= text_field_tag 'ticker', nil,placeholder:" Enter Ticket Symbol",size: 50%>
<%=submit_tag 'Lookup'%>
<%end%>



<% if $stock%>
    <%= $stock.company_name%>
    <br/>
    <%= $stock.latest_price%> <%="$"%>
    
<%elsif $nothing%>
    <%=$nothing%>

<%end%>

