<h1>STOCK STATUS </h1>

<%= form_tag root_path, :method=> 'get' do%>
<%= text_field_tag 'ticker', nil,placeholder:" Enter Ticket Symbol",size: 50%>
<%=submit_tag 'Lookup'%>
<%end%>



<% if @stock%>
    <%= @stock.company_name%>
    <br/>
    <%= number_to_currency(@stock.latest_price, :unit => "$")%> 
    


<%end%>

